@charset "utf-8";

body {
  background: #6df3f0;
}

.navbar {
  background-color: #ffffff;
}

.category .panel-body {
  height: 200px;
}
.category .panel-heading {
  height: 250px;
}

.category.h1 {
  text-align: center;
}

.category .panel panel- {
  float: left;
}
