<div class="row">
  <div class="item">
    <div class="col-md-3 col-sm-4 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>交通</p>
          <br>
          <br>
          <div class="投票" btn btn-success btn-xs></div>
        </div>
      </div>
    </div>
  </div>
</div>
